@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url("https://use.typekit.net/pqu7mpj.css");

/*! minireset.css v0.0.6 | MIT License */ html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}

:root {

  /* body font size */
  --text-base-size: 1em;
  
  /* type scale */
  --text-scale-ratio: 1.4;
  --text-xs: calc(var(--text-base-size)  / var(--text-scale-ratio) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));

  /* colors */

  --hsds-brand-brown:#3a141a;
  --hsds-brown-900: #1E090D;
  --hsds-brown-800: #5B1F28;
  --hsds-brown-700: #882E3B;
  --hsds-brown-300: #B63D50;
  --hsds-brown-200: #D48591;
  --hsds-brown-100: #EED1D5;

  --hsds-brand-pink: #D93389;
  --hsds-pink-900: #34081F;
  --hsds-pink-800: #67133E;
  --hsds-pink-700: #AC1F68;
  --hsds-pink-300: #E263A4;
  --hsds-pink-200: #E985B8;
  --hsds-pink-100: #F1B9D6;

  --hsds-neutral-900: #2A2829;
  --hsds-neutral-800: #5E575B;
  --hsds-neutral-700: #9C9497;
  --hsds-neutral-300: #CDC9CA;
  --hsds-neutral-200: #F7F7F7;


  /* type */
    --bodyFont: "Poppins", sans-serif;
    --baseFontSize: 100%;
    --smallText: var(--text-sm);


  /* Spacing scale */
    --space-unit:  1em;
    --space-xxxxs: calc(0.125 * var(--space-unit)); 
    --space-xxxs:  calc(0.25 * var(--space-unit));
    --space-xxs:   calc(0.375 * var(--space-unit));
    --space-xs:    calc(0.5 * var(--space-unit));
    --space-sm:    calc(0.75 * var(--space-unit));
    --space-md:    calc(1.25 * var(--space-unit));
    --space-lg:    calc(2 * var(--space-unit));
    --space-xl:    calc(3.25 * var(--space-unit));
    --space-xxl:   calc(5.25 * var(--space-unit));
}

html {
  font-size: var(--baseFontSize);
  background-color: var(--hsds-brand-brown);
  font-family: 'Poppins', sans-serif;
}

body {
  padding:5rem 0;
}

/* Structure */

main {
  width:80vw;
  margin: 0 auto;
}

.ds-container {
  display:grid;
  grid-template-columns: 3fr 7fr;
  grid-auto-rows:min-content;
  grid-gap: 1rem;
}

.left-sidebar {
  grid-column: 1 / 2;
}

.main-content {
  grid-column: 2 / 4;
  border: 0.5px var(--hsds-brown-800) solid;
}

.section {
  background: var(--hsds-brand-brown);
  padding:2rem;
  margin-bottom:2rem;
}


a {
  text-decoration: none;
}


/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-family: mostra-nuova, sans-serif;
  font-weight: 700;
  line-height:1.5;
  display:flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size:var(--text-xxxl);
  margin-bottom:1.25rem;

}
h2 {
  font-size:var(--text-xxl);
  margin-bottom:1.25rem;

}
h3 {
  font-size:var(--text-xl);
  margin-bottom:2rem;

}
h4 {
  font-size:var(--text-lg);
  margin-bottom:2rem;

}
h5 {
  font-size:var(--text-md);
  margin-bottom:3rem;

}

h6 {
  font-size:var(--text-sm);
}

p, li {
  font-size: 1rem;
  margin-top:var(--space-md);
  margin-bottom:var(--space-md);
  color:var(--text-color);
  display:flex;
  align-items: center;
  justify-content: center;
}

.left-sidebar p, .title {
  color: #fff;
  text-align: left;
  justify-content: left;
}

.section-label {
  text-transform: uppercase;
  font-size: x-large;
  font-weight:400;
  letter-spacing: 10px;
}

.section-break {
  text-transform: uppercase;
  font-size: smaller;
  font-weight:400;
  margin-top:6rem;
  letter-spacing: 10px;
}

.subheading-text-style {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  width: 400px;
  text-align: center;
}

.body-text-style {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1em;
  letter-spacing: 0.1em;
  line-height: 1.7em;
  width: 500px;
  text-align: left;
}





/* Color samples */


  .hsds-brand-brown {
    background-color: var(--hsds-brand-brown);
    border: 0.5px var(--hsds-brown-800) solid;
  }

  .hsds-brown-900 {
    background-color: var(--hsds-brown-900);
  }

  .hsds-brown-800 {
    background-color: var(--hsds-brown-800);
  }

  .hsds-brown-700 {
    background-color: var(--hsds-brown-700);
  }

  .hsds-brown-300 {
    background-color: var(--hsds-brown-300);
  }

  .hsds-brown-200 {
    background-color: var(--hsds-brown-200);
  }

  .hsds-brown-100 {
    background-color: var(--hsds-brown-100);
  }

  

  .hsds-brand-pink {
    background-color: var(--hsds-brand-pink);
    border: 0.5px rgb(122, 96, 96) solid;
  }

  .hsds-pink-900 {
    background-color: var(--hsds-pink-900);
  }

  .hsds-pink-800 {
    background-color: var(--hsds-pink-800);
  }

  .hsds-pink-700 {
    background-color: var(--hsds-pink-700);
  }

  .hsds-pink-300 {
    background-color: var(--hsds-pink-300);
  }

  .hsds-pink-200 {
    background-color: var(--hsds-pink-200);
  }

  .hsds-pink-100 {
    background-color: var(--hsds-pink-100);
  }



  .hsds-neutral-900 {
    background-color: var(--hsds-neutral-900);
  }

  .hsds-neutral-800 {
    background-color: var(--hsds-neutral-800);
  }

  .hsds-neutral-700 {
    background-color: var(--hsds-neutral-700);
  }

  .hsds-neutral-300 {
    background-color: var(--hsds-neutral-300);
  }

  .hsds-neutral-200 {
    background-color: var(--hsds-neutral-200);
  }




.primary-hue {
  display: flex;
  padding:3rem 1rem;
  color:#F7F7F7;
  font-family: 'Poppins';
}

.primary-hue > div {
  width:33%;
}

.secondary-hue {
  display: flex;
  padding:1.5rem 1rem;
  color:#ffffff;
  font-family: 'Poppins';
}

.secondary-hue > div {
  width:33%;
}

.neutral-hue {
  display: flex;
  padding:1.5rem 1rem;
  color:#ffffff;
  font-family: 'Poppins';
}

.neutral-hue > div {
  width:33%;
}

.accent-hue {
  display: flex;
  padding:.5rem 1rem;
  color:#ffffff;
  font-family: 'Work Sans';
}

.accent-hue > div {
  width:33%;
}

.text-dark {
  color:var(--text-color);
}





img {
  width:100%;
}



/* Navigation Links Style */


.body-copy-background-light {
  height: 200px;
  width: 400px;
  margin-top: 50px;
  background-color: var(--hsds-neutral-200);
  color: var(--hsds-brand-brown);
}

.body-copy-background-light p {
  width: 350px;
  padding-left: 20px;
  font-weight: 400;
  line-height: 1.7em;
}

.body-copy-background-dark {
  height: 200px;
  width: 400px;
  margin-top: 50px;
  background-color: var(--hsds-brand-brown);
  color: var(--hsds-neutral-200);
  border: 0.5px rgb(122, 96, 96) solid;
}

.body-copy-background-dark p {
  width: 350px;
  padding-left: 20px;
  font-weight: 400;
  line-height: 1.7em;
}

.container {
  display:flex;
  align-items: center;
  justify-content: center;
}

.wrapper-horizontal {
  display:flex;
  gap: 3em;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wrapper-vertical {
  display:flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.properties {
  padding-right: 150px;
  position: absolute;
  float: left;
  margin-right: 850px;
  margin-top: 15px;
}

.properties-text {
  text-transform: uppercase;
  font-size: 10px;
  font-weight:400;
  letter-spacing: 5px;
  line-height: .5;
  text-align: left;
  justify-content: left;
}


.nav-button {
  background-color: var(--hsds-brand-brown);
  border: 5px var(--hsds-neutral-200) solid;
  padding: 10px;
  width: 200px;
}

.nav-button-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1em;
  text-align: center;
  letter-spacing: 2px;
}

.nav-button-hover {
  background-color: var(--hsds-brown-800);
}

.nav-button-active {
  background-color: var(--hsds-neutral-200);
  color: var(--hsds-brand-brown);
}


.header-line {
  display: block;
  width: 80px;
  height: 3px;
  background: var(--hsds-brand-pink);
  margin: auto;
}

.primary-button {
  background-color: var(--hsds-neutral-200);
  color: var(--hsds-brand-brown);
  border: 5px var(--hsds-brand-pink) solid;
  padding: 10px;
  width: 120px;
}

.primary-button-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  text-align: center;
  letter-spacing: 1px;
}

.primary-button-fluid {
  background-color: var(--hsds-neutral-200);
  color: var(--hsds-brand-brown);
  border: 5px var(--hsds-brand-pink) solid;
  padding: 10px;
  width: 220px;
}

.nav-link-simple {
  display: flex;
  align-items:center;
  justify-content:space-evenly;
  gap: 0.2em;
}

#arrow1 {
  font-size: 40px;
}

.nav-button-graphic {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: var(--hsds-brand-pink);
  position: relative;
}

#arrow2 {
  font-size: 100px;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 30px;
  margin-left: 25px;
  margin-top: 35px;
}


.price-tag-static {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  border-radius: 80px;
  border: 5px var(--hsds-brand-pink) solid;
  background-color: var(--hsds-brand-brown);

}

.price-tag-price {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.3em;
}

.price-tag-duration {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: .8em;
}

.price-tag-active {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  border-radius: 80px;
  border: 5px var(--hsds-brand-pink) solid;
  background-color: var(--hsds-brand-pink);

}